::-moz-selection {
  background-color: #f23d52; }

::-webkit-selection {
  background-color: #f23d52; }

::selection {
  background-color: #f23d52; }


a,
.feature__icon--gradient,
.feature__icon--gradient-1 {
  color: #f23d52;
}


.social-icons a:hover,
.btn--transparent:hover,
.btn--white:hover,
.btn--white:focus,
.btn--stroke:hover,
.btn--stroke:focus,
.btn--color,
.btn--dark:hover,
.btn--dark:focus,
.btn--light:hover,
.btn--light:focus,
.play-btn,
.owl-page.active span,
.nav__icon-toggle:hover .nav__icon-toggle-bar,
.nav__holder.scrolling .nav__btn-holder .btn--transparent,
#back-to-top:hover,
.bg-color {
  background-color: #f23d52;
}


@media only screen and (max-width: 991px) {
  .nav__btn-holder .btn--transparent {
    background-color: #f23d52;
  }
}


.btn--color:hover,
.btn--color:focus {
  background-color: #f0253d;
}


.feature__icon--gradient-1 {
  background: -moz-linear-gradient(bottom, #f23d52 0%, #fa482a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f23d52), color-stop(100%, #fa482a));
  background: -webkit-linear-gradient(bottom, #f23d52 0%, #fa482a 100%);
  background: -o-linear-gradient(bottom, #f23d52 0%, #fa482a 100%);
  background: -ms-linear-gradient(bottom, #f23d52 0%, #fa482a 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#f23d52), to(#fa482a));
  background: linear-gradient(to top, #f23d52 0%, #fa482a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4193d6', endColorstr='#39bad6',GradientType=0 );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-btn--white {
  background-color: #fff;
}