name: Deploy PR preview

on:
  workflow_run:
    workflows: ["Build PR preview"]
    types:
      - completed

permissions:
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  deploy-preview:
    # Only deploy if the build succeeded and it was from a PR
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    environment:
      name: pull-request-preview
      url: ${{ steps.deployment.outputs.deployment-url }}
    steps:
      - name: Download PR metadata
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 #v4
        with:
          name: "pr-metadata"
          path: ./pr-metadata
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Read PR number
        id: pr
        run: |
          PR_NUMBER=$(cat ./pr-metadata/pr-number)
          echo "number=$PR_NUMBER" >> $GITHUB_OUTPUT
      # checkout required for pr-preview-action to succeed,
      # while the content will not be used
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4
      - name: Download the preview page
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 #v4
        with:
          name: "site"
          path: ./public
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - uses: rossjrw/pr-preview-action@f31d5aa7b364955ea86228b9dcd346dc3f29c408 #v1
        id: deployment
        with:
          source-dir: ./public
          preview-branch: previews
          umbrella-dir: pr-previews
          deploy-repository: eclipse-theia/theia-website-previews
          token: ${{ secrets.DEPLOY_PREVIEW_TOKEN }}
          pr-number: ${{ steps.pr.outputs.number }}
          action: deploy
