name: Deploy PR preview

on:
  workflow_run:
    workflows: ["Build PR preview"]
    types:
      - completed

permissions:
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  deploy-preview:
    # Only deploy if the build succeeded and it was from a PR
    if: >
      github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.event == 'pull_request'
    runs-on: ubuntu-latest
    environment:
      name: pull-request-preview
      url: ${{ steps.deployment.outputs.deployment-url }}
    steps:
      - name: Download PR metadata
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 #v4
        with:
          name: "pr-metadata"
          path: ./pr-metadata
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Read PR number
        id: pr
        run: |
          PR_NUMBER=$(cat ./pr-metadata/pr-number)
          echo "number=$PR_NUMBER" >> $GITHUB_OUTPUT
      # checkout required for pr-preview-action to succeed,
      # while the content will not be used
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4
      - name: Download the preview page
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 #v4
        with:
          name: "site"
          path: ./public
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - uses: rossjrw/pr-preview-action@ffa7509e91a3ec8dfc2e5536c4d5c1acdf7a6de9 #v1.8.1
        id: deployment
        with:
          source-dir: ./public
          preview-branch: previews
          umbrella-dir: pr-previews
          deploy-repository: eclipse-theia/theia-website-previews
          token: ${{ secrets.DEPLOY_PREVIEW_TOKEN }}
          pr-number: ${{ steps.pr.outputs.number }}
          action: deploy
          # TODO
          # Temporarily disable built-in comment since it doesn't support workflow_run
          # Workaround until upstream fix is merged: https://github.com/rossjrw/pr-preview-action/pull/131
          comment: false
      - name: Leave a comment on the PR
        uses: marocchino/sticky-pull-request-comment@67d0dec7b07ed060a405f9b2a64b8ab319fdd7db # v2.9.2
        with:
          header: pr-preview
          number: ${{ steps.pr.outputs.number }}
          message: |
            :rocket: Deployed preview to ${{ steps.deployment.outputs.deployment-url }}
